body {
	overflow: hidden;
}
h1 {
	text-align: center;
}
li {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}

.win01 {
	position: absolute;
	width: 18%;
	height: 28%;
	left: 3%;
	top: 14%;
	background-image: url("images/1c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win01:hover {
    background-image: url("images/1o.jpg");
}
.dow01 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 37%;
	top: 20%;
	background-image: url("images/1o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow01:hover {
	background-image: url("images/ii.jpg");

}

.win02 {
	position: absolute;
	width: 17%;
	height: 14%;
	left: 1%;
	top: 43%;
	background-image: url("images/2c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win02:hover {
    background-image: url("images/2o.jpg");
}

.win03 {
	position: absolute;
	width: 45%;
	height: 40%;
	left: 2%;
	top: 58%;
	background-image: url("images/3c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win03:hover {
    background-image: url("images/3o.jpg");
}
.dnwm {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 25%;
	top: 20%;
	background-image: url(images/3c.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.2s ease-in-out;
}
.dnwm:hover {
  /* 마우스 오버 시 변경될 이미지 파일 경로를 지정 (이미지2) */
  background-image: url('images/3o.jpg'); 
}

.win04 {
	position: absolute;
	width: 36%;
	height: 43%;
	left: 14%;
	top: 13%;
	background-image: url("images/4c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win04:hover {
    background-image: url("images/4o.jpg");
}

.win05 {
	position: absolute;
	width: 45%;
	height: 42%;
	left: 30%;
	top: 13%;
	background-image: url("images/5c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win05:hover {
    background-image: url("images/5o.jpg");
}

.win06 {
	position: absolute;
	width: 16%;
	height: 20%;
	left: 33%;
	top: 56%;
	background-image: url("images/6c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win06:hover {
    background-image: url("images/6o.jpg");
}

.win07 {
	position: absolute;
	width: 25%;
	height: 40%;
	left: 30%;
	top: 71.3%;
	background-image: url("images/7c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win07:hover {
    background-image: url("images/7o.jpg");
}

.win08 {
	position: absolute;
	width: 25%;
	height: 32%;
	left: 56%;
	top: 60%;
	background-image: url("images/8c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win08:hover {
    background-image: url("images/8o.jpg");
}

.win09 {
	position: absolute;
	width: 23%;
	height: 30%;
	left: 75%;
	top: 14%;
	background-image: url("images/9c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win09:hover {
    background-image: url("images/9o.jpg");
}
.dow09 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 10%;
	top: 20%;
	background-image: url("images/9c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow09:hover {
	background-image: url("images/ttt.jpg");

}

.win10 {
	position: absolute;
	width: 18%;
	height: 24%;
	left: 74%;
	top: 35.5%;
	background-image: url("images/10c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win10:hover {
    background-image: url("images/10o.jpg");
}

.win11 {
	position: absolute;
	width: 21%;
	height: 24%;
	left: 70%;
	top: 61%;
	background-image: url("images/11c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win11:hover {
    background-image: url("images/11o.jpg");
}

.win12 {
	position: absolute;
	width: 20%;
	height: 14%;
	left: 69%;
	top: 85.6%;
	background-image: url("images/12c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win12:hover {
    background-image: url("images/12o.jpg");
}

.win13 {
	position: absolute;
	width: 20%;
	height: 20%;
	left: 84.7%;
	top: 37%;
	background-image: url("images/13c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win13:hover {
    background-image: url("images/13o.jpg");
}
.weather {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 25%;
	top: 20%;
	background-image: url(images/13c.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.2s ease-in-out;
}
.weather:hover {
  /* 마우스 오버 시 변경될 이미지 파일 경로를 지정 (이미지2) */
  background-image: url('images/13o.jpg'); 
}

.win14 {
	position: absolute;
	width: 20%;
	height: 40%;
	left: 89%;
	top: 58.7%;
	background-image: url("images/14c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win14:hover {
    background-image: url("images/14o.jpg");
}